<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Ubuntu:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/styles.css">

    <title>Dashboard</title>
</head>

<body style="background-image: url('images/YyTLwz.jpg'); font-family: 'Montserrat', sans-serif;">

    <section id="title">

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" style="color: #0d6efd;" href="firstpage.html"><i class="fas fa-user-graduate"></i> Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d6efd;" href="hostel.html">Hostel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d6efd;" href="mess.html">Mess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d6efd;" href="https://www.thapar.edu/pages/contactus">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #0d6efd;" href="login.html">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="detailing">

        <h2 class="section-heading" style="color: #0d6efd;">IDENTIFICATION</h2>
        <p>Below are the details of the student!</p>

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="info" style="color: #0d6efd;">Student Details</h3>
                    </div>
                    <div class="card-body">
                        <p>Name: Yash Garg</p>
                        <p>Roll No: XXX/XXX</p>
                        <p>Batch: 2019-22</p>
                        <p>Stream: Computer Science</p>
                        <p>Phone No: +91-781XXXXX72</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="info" style="color: #0d6efd;">Hostel Details</h3>
                    </div>
                    <div class="card-body">
                        <p>Hostel Alloted: L</p>
                        <p>Warden: Mr. Sukhbir Singh</p>
                        <p>Caretaker: Mr. Teja Pratap</p>
                        <p>Warden Contact: +91-9877XXXXX2</p>
                        <p>Caretaker Contact: +91-769XXXXX47</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta">

        <div class="directing row">
            <div class="col-lg-6">
                <a href="hostel.html">
                    <button type="button" class="btn btn-light btn-lg download-button" style="color: #0d6efd;"><i class="fas fa-hotel"></i> &ensp; Hostel Query</button>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="mess.html">
                    <button type="button" class="btn btn-primary btn-lg download-button"><i class="fas fa-utensils"></i> &ensp; Mess Query</button>
                </a>
            </div>
        </div>

    </section>

    <footer id="footer">

        <div>
            <a href="https://www.facebook.com/officialTIET/"><i class="fab fa-facebook-f fa-2x social-icon"></i></a>
            <a href="https://twitter.com/TIETofficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter fa-2x social-icon"></i></a>
            <a href="https://www.thapar.edu/"><i class="fab fa-chrome fa-2x social-icon"></i></a>
            <a href="https://www.youtube.com/channel/UCybEMnvVQqGi80wfAd1F8oA"><i
                    class="fab fa-youtube fa-2x social-icon"></i></a>
            <p>Made by Yash Garg</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>