{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>

{%block content %}
<section id="detailing">

<section style>
  <div class="container py-5">
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">-->
<!--          <ol class="breadcrumb mb-0">-->
<!--            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--            <li class="breadcrumb-item"><a href="#">User</a></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">User Profile</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Kartik Mathur</h5>
            <p class="text-muted mb-1">Branch : COE</p>
            <p class="text-muted mb-4">4th year</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
               <h3>Student details</h3>
              <br>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Kartik Mathur</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Roll number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">101906162</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">kmathur_be19@thapar.edu</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Hostel</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">M</p>
              </div>
            </div>

              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Room number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">A-427</p>
              </div>
            </div>

          </div>
        </div>

          <div class="card mb-4">
          <div class="card-body">
               <h3>Hostel details</h3>
              <br>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Warden</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Johnatan Smith</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Caretaker</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Night Caretaker</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ambulance Contact No.</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dispensary Phone no.</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

</html>