{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>
{%block content %}
<section id="detailing">

<section style>
  <div class="container py-5">
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">-->
<!--          <ol class="breadcrumb mb-0">-->
<!--            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--            <li class="breadcrumb-item"><a href="#">User</a></li>-->
<!--            <li class="breadcrumb-item active" aria-current="page">User Profile</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ current_user.name }}</h5>
            <p class="text-muted mb-1">Branch : {{ current_user.branch }}</p>
            <p class="text-muted mb-4">{{ current_user.year }}th year</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
               <h3>Student details</h3>
              <br>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Roll number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.phno }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Hostel</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.hostel }}</p>
              </div>
            </div>

              <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Room number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ current_user.room }}</p>
              </div>
            </div>

          </div>
        </div>

          <div class="card mb-4">
          <div class="card-body">
               <h3>Hostel details</h3>
              <br>
            <div class="row">
              <div class="col-sm-9">
                <p class="mb-0">Warden</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ hostel.warden}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-9">
                  <p class="mb-0">Caretaker Details</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{hostel.caretaker_name}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{hostel.caretaker_email}}</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{hostel.caretaker_no}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-9">
                <p class="mb-0">Night Caretaker Details</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{hostel.ni_caretaker}}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{hostel.ni_caretaker_no}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-9">
                <p class="mb-0">Emergency Contacts</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Ambulance&nbsp;{{hostel.ambulance}}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Dispensary&nbsp;{{hostel.dispensary}}</p>
              </div>
            </div>
              <hr>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

</html>