{% extends "base.html" %}

{% block title %}
    <title>Hostel</title>
{% endblock %}

{% block content %}
<br>
<br>
<div style="padding: 0% 15% 3%;">
  <div class="card border-primary mb-3">
    <div class="card-header">
        <h3 class="info" style="color: #000000">Complaints Table</h3>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #000000" >
              Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Active Complaints</button>
              <button class="dropdown-item" type="button">Previous Complaints</button>
              <!-- <button class="dropdown-item" type="button"></button> -->
            </div>
          </div>

    </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
</div>
<br>
<div style="padding: 0% 15% 3%;">
<div class="card" >
    <div class="card-header">
        <h4 style="font-size: 1.5rem">Have a complaint?</h4>
    </div>
    <div class="card-body">
        <div class="input-group" style="text-align: end; padding:2% 2%;">
            <select class="form-select" name="c_type" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Choose from the following</option>
                <option value="1">Electricity</option>
                <option value="2">Furniture</option>
                <option value="3">Room Maintainence</option>
                <option value="4">Plumbing</option>
            </select>
        </div>

        <div style="padding:2% 2%;">
            <h4 style="font-size: 1.5rem">Choose the time and date</h4>
            <form action="">
                <input type="datetime-local" id="time" name="time" style="margin-right: 20px;">
                <a href=""><i class="far fa-check-circle fa-2x"></i></a>
            </form>
        </div>

        <div style="text-align: end; padding:2% 2%;">
            <form action="" method="POST">
                <div class="form-group" style="text-align: center;">
                    <textarea class="form-control" name="postContent"
                        placeholder="Explain your complain in detail here." style="border-radius: 10px;"
                        rows="5"></textarea><br>
                </div>
                <button class="btn btn-primary" type="submit" name="button">Register</button>
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}