{% extends "base.html" %}

{% block title %}
<title>Mess</title>
{% endblock%}

{% block content %}

<div style="margin: 3% 15% 5%; padding: 20px; border-radius: 15px 50px; text-align: center; background-color: #99FEFF;">
        <h2 style="font-size: 2.5rem; font-family: 'Ubuntu', sans-serif; font-weight: bold; color: #6E3CBC;">Choose
            the time you want to eat in mess:</h2>
        
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="breakfast" id="flexCheckDefault" name="attendance" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                      Breakfast
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="lunch" id="flexCheckChecked" name="attendance" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Lunch
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="dinner" id="flexCheckChecked2" name="attendance" checked>
                    <label class="form-check-label" for="flexCheckChecked2">
                      Dinner
                    </label>
                </div>
        <br>
    
        {{form.feedback(cols="25", rows="10")|safe}}
        
    <br>
    <div>
        {{ form.submit(class_="btn btn-primary btn-lg feature-title") }}
    </div>
</form>
    <br>
    <h2>Or</h2>
        <br>

        <a href="https://www.zomato.com/chandigarh" target="_blank">
            <button type="button" class="btn btn-primary btn-lg feature-title">
                <i class="fas fa-check-circle"></i> &ensp;
            Order Online</button>
            </a><br>
        
    </div>

{% endblock %}